.slide-container {
  margin: auto;
}

.info-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-card-single {
  background-size: cover;
  background-position-x: center;
  height: 50vh;
  width: 94vw;
  margin: 1em;
  background-image: url("https://www.next.co.uk/nxtcms/resource/blob/1057302/e66bf0dfa5c5cb85c8850166984ef0af/g23-menshp-data.gif");
}

.info-card {
  background-size: cover;
  background-position-x: center;
  height: 50vh;
  width: 47vw;
  margin: 1em;
  background-image: url("https://www.next.co.uk/nxtcms/resource/blob/1057302/e66bf0dfa5c5cb85c8850166984ef0af/g23-menshp-data.gif");
}

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position-x: center;
  height: 84.3vh;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
}
