.header {
  font-family: "Quicksand", sans-serif;
  background-color: black;
  height: 70px;
  width: 100%;
  color: white;
  transition: top 1s;
  position: fixed;
  font-size: 14px;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  z-index: 11;
  .menu-button {
    display: none;
  }

  .logo-container {
    display: flex;
    justify-content: center;
    position: relative;
    width: 300px;
    padding: 0px 25px;
  }

  .logo {
    height: 70px;
  }

  .options {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;

    .option {
      color: white;
      padding: 10px 15px;
      cursor: pointer;
    }
  }
  .search {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.menu-button {
  cursor: pointer;
}

.navig {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 70px;
  background-color: white;
  color: black;
  width: 100vw;
  height: 3.1em;
  border-bottom: 1px solid darkgray;
}

.nav--hidden {
  top: -100vh;
}

.menu-div {
  position: fixed;
  height: 90vh;
  width: 288px;
  background: white;
  top: 70px;
  left: 0px;
  color: black;
  border-right: 1px solid darkgray;
  border-bottom: 1px solid darkgray;

  .title {
    font-size: 3em;
  }

  .directory-menu {
    display: block;
  }
}

.menu--hidden {
  display: none;
}

.header--hidden {
  top: -100vh;
}

@media (max-width: 768px) and (max-width: 1024px) {
  .navig {
    display: none;
  }
  .header {
    font-family: "Quicksand", sans-serif;
    background-color: black;
    height: 70px;
    width: 100vw;
    color: white;
    transition: top 1s;
    position: fixed;
    font-size: 14px;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    z-index: 11;

    .logo-container {
      display: flex;
      justify-content: center;
      position: relative;
      width: 60vw;
    }
    .logo {
      width: 250px;
    }
    .menu-button {
      width: 20vw;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .options {
      display: none;
    }
    .search {
      width: 20vw;
    }

    .search-item {
      padding: 4px;
    }
    .lens {
      height: 30px;
    }
  }

  .header--hidden {
    top: -100vh;
  }
}
