.header {
  font-family: "Quicksand", sans-serif;
  background-color: black;
  height: 70px;
  width: 100%;
  color: white;
  transition: top 1s;
  position: fixed;
  font-size:14px;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  z-index: 1;

  .logo-container {
    display: flex;
    justify-content: center;
    position: relative;
    width: 300px;
    padding: 0px 25px;
  }

  .logo {
    height: 70px;
  }

  .options {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;

    .option {
      color: white;
      padding: 10px 15px;
      cursor: pointer;
    }
  }
  .search {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.header--hidden {
  top: -100vh;
}
