body {
	font-family: "Open Sans Condensed";
}

a {
	text-decoration: none;
	color: black;
}

* {
	box-sizing: border-box;
}

.body-of-the-page{
	min-height: 93vh;
}

.header-mask {
	height: 100px;
}

.menu-div {
	position: fixed;
	z-index: 11;
}
.footer {
	position: relative;
	left: 0px;
}

@media (max-width: 768px) and (max-width: 1024px) {
	body {
		font-family: "Open Sans Condensed";
		padding: 0px 0px;
	}
	.header-mask {
		height: 70px;
	}
	.footer {
		font-size: 8px;
	}
}
